@{
  Layout = "_Layout";
}

@using CarDealer.Models;

<h1>Welcome to Car Dealer</h1>
<hr />

<h4>@Html.ActionLink("Check inventory", "Index", "Cars")</h4>
<h4>@Html.ActionLink("Check customer list", "Index", "Customers")</h4>
