@{
  Layout = "_Layout";
}

@using CarDealer.Models;

<h1>Customers</h1>
<hr>

@if (@Model.Count == 0)
{
  <h3>There is no customer in the system at this moment.</h3>
}
else
{
  <ul>
    @foreach(Customer customer in Model)
    {
      <li>@Html.ActionLink($"{customer.Name}", "Details", new { id = customer.CustomerId })</li>
    }
  </ul>
}

@Html.ActionLink("Home", "Index", "Home")
<br/>
@Html.ActionLink("Add new customer", "Create")